.BlogBody {
  padding: 16px;
  max-width: 680px;
  margin: 0 auto;
}

.BlogBody__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 32px;
}

.BlogBody__pic {
  width: 100%;
  height: calc((100vw - 32px) / 900 * 510);
  background-position: center;
  background-size: cover;
}

.BlogBody__date_and_author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}

.BlogBody__date {
  font-size: 13px;
  color: grey;
}

.BlogBody__paragraph {
  margin-bottom: 16px;
}

@media screen and (min-width: 900px) {
  .BlogBody__paragraph {
    font-size: 24px;
  }

  .BlogBody__title {
    font-size: 40px;
  }
}
