.NavBarNavigation__list {
  display: flex;
  justify-content: space-between;
}

.NavBarNavList_row {
  flex-direction: row;
}

.NavBarNavList_column {
  flex-direction: column;
}

.NavBarNavigation__item {
  display: block;
  margin: 0 8px;
}

.collapse.NavBarNavigation__item {
  margin: 8px 0;
}

.NavBarNavigation__collapse > ul {
  flex-direction: column;
}

.NavBarNavigation__fill {
  width: 100%;
}
